table, th, td {
   border: 0px solid black;
}

td {
	width: 100px;
	height: 100px;
	background-color: purple;
	font-size: 30px;
}

td.tv {
/*	folder dentro de mi directorio */
	background-image: "";

}

td.hidden {
	color: purple;
}



